/* This Page is property of Tobias Maimone (c) */

/* Importiere die Schriftart "Poppins" von Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Globale Stile für alle Elemente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* Verwende die Schriftart Poppins für alle Elemente */
}

/* Stile für den gesamten Seitenkörper */
body {
    font-family: Arial, sans-serif;
    /* Falls Poppins nicht verfügbar ist, verwende Arial oder eine Standardschriftart */
    overflow: hidden;
    /* Verhindere das Scrollen des gesamten Seiteninhalts */
}

/* Hintergrundbild-Stil */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/013/780/886/large_2x/silhouette-landscape-with-fog-forest-pine-trees-mountains-illustration-of-night-view-mist-navy-blue-good-for-wallpaper-background-web-banner-cover-poster-free-vector.jpg');
    /* Hintergrundbild */
    background-size: cover;
}

/* Container für das Registrierung-Formular */
.register-container {
    min-width: 300px;
    min-height: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Zentriere den Container horizontal und vertikal */
}

/* Stile für das Registrierung-Formular */
.register-form {
    width: clamp(300px, 50%, 300px);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(30px);
    /* Verwende einen Weichzeichner für den Hintergrund */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Schatten */
}

/* Stile für die Überschrift im Registrierung-Formular */
.register-form h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 30px;
}

/* Stile für Gruppen von Eingabefeldern */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

/* Stile für Eingabefelder */
.input-group input {
    width: calc(100%);
    background: transparent;
    backdrop-filter: blur(40px);
    border: 1px solid #ffffff;
    /* Weißer Rahmen */
    border-radius: 999px;
    /* Runde Ecken */
    text-indent: 10px;
    padding: 10px;
    padding-right: 45px;
    color: #ffffff;
}

/* Stile für den Fokus auf Eingabefelder */
.input-group input:focus {
    outline: none;
    padding-right: 45px;
}

/* Platzhalter-Stile */
.input-group input + label {
    position: absolute;
    top: 0;
    left: 20px;
    line-height: 40px;
}

/* Stile für den Platzhaltertext */
.input-group label.placeholder {
    margin-top: 2px;
    font-size: 13px;
    color: #e3e3e3;
    pointer-events: none;
    transition: margin-top 0.3s, font-size 0.3s, color 0.3s;
    /* Animationseffekte für Übergänge */
}

/* Stile für den Fokus auf den Platzhaltertext */
.input-group input:focus + label.placeholder {
    margin-top: 15px;
    font-size: 8px;
    color: transparent;
}

/* Stil für die Icons in den Eingabefeldern */
.iconify {
    pointer-events: none;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    top: 27%;
    left: 86%;
}

/* Stile für Buttons */
button {
    width: calc(100%);
    padding: 10px;
    border: none;
    background-color: #ffffff;
    /* Blauer Hintergrund */
    color: #000000;
    font-weight: bold;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Animationseffekte */
}

/* Stile für den Hover-Effekt auf Buttons */
button:hover {
    background-color: #007bff;
    /* Dunklerer Blauton */
}

/* Handy Responsive Design */
@media (max-width: 12cm) {

    /* Container für das Registrierung-Formular */
    .register-container {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(30px);
    }

    /* Stile für das Registrierung-Formular */
    .register-form {
        width: inherit;
        backdrop-filter: blur(0);
        padding: 20px;
        border-radius: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }

}